# Generated code
/hikkatl/tl/functions/
/hikkatl/tl/types/
/hikkatl/tl/alltlobjects.py
/hikkatl/errors/rpcerrorlist.py

# User session
*.session
/usermedia/

# Builds and testing
__pycache__/
/dist/
/build/
/*.egg-info/
/readthedocs/_build/
/.tox/

# API reference docs
/docs/

# File used to manually test new changes, contains sensitive data
/example.py

.vscode/
